@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Roboto", sans-serif;
  color-scheme: light dark;
  color: #242424;
  background-color: white !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-snap-type: x mandatory;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: auto;
  overflow-x: hidden;
}
:root {
  font-family: "Roboto", sans-serif;
  color-scheme: light dark;
  color: #242424;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}
strong {
  font-weight: bold;
}
@layer base {
  .animate-hover {
    @apply transition duration-150 ease-linear;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .big-title {
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 132px;
  }
  .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
  .headline1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }
  .headline2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  .body1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .body2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
  .body3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  .body4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .body5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .caption {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  .shadow-2 {
    box-shadow: 0px 2px 10px 0px rgba(0, 70, 251, 0.2);
  }
  .shadow-3 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

textarea:focus,
button:focus,
select:focus-visible,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.toast-fail {
  background: #fff8fb;
  border: 1px solid #dc3b8a;
  box-shadow: 8px 10px 48px rgba(1, 89, 160, 0.15);
  padding: 16px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #dc3b8a;
}
.toast-warning {
  background: #fff9e9;
  border: 1px solid #d8a408;
  box-shadow: 8px 10px 48px rgba(1, 89, 160, 0.15);
  padding: 16px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #d8a408;
}
.toast-success {
  background: #e4ffdd;
  border: 1px solid #01a446;
  box-shadow: 8px 10px 48px rgba(1, 89, 160, 0.15);
  padding: 16px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #01a446;
}
#user-table td, #user-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#user-table tr:nth-child(even){background-color: #f2f2f2;}

#user-table tr:hover {background-color: #ddd;}

#user-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}
@media only screen and (max-width: 768px) {
}
